{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <div class="card-title-wrapper">
                    <span class="card-title">Driver Standings</span>
                    <div class="input-field season-select">
                        <select onchange="window.location.href='?year=' + this.value">
                            {% for year in available_seasons %}
                            <option value="{{ year }}" {% if year == selected_year %}selected{% endif %}>
                                {{ year }} Season
                            </option>
                            {% endfor %}
                        </select>
                        <label>Select Season</label>
                    </div>
                </div>
                <table class="striped">
                    <thead>
                        <tr>
                            <th>Position</th>
                            <th>Driver</th>
                            <th>Constructor</th>
                            <th>Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for driver in standings %}
                        <tr>
                            <td>{{ driver.position }}</td>
                            <td>
                            <img class="driver-number" src="{{ url_for('dashboard.driver_number_icon', driver_name=driver.driver) }}" alt="{{ driver.driver }} number">                            {{ driver.constructor }}
                            {{ driver.driver }}
                            </td>
                            <td>
                            <img class="constructor-icon" src="{{ url_for('static', filename='icons/' ~ driver.constructor ~ '/badge.png') }}" alt="{{ driver.constructor }} logo">
                            {{ driver.constructor }}
                            </td>
                            <td>{{ driver.points }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
});
</script>
{% endblock %}